//dark shades of primary color
$primary-0: hsl(210, 60%, 21%);
$primary-1: hsl(210, 60%, 29%);
$primary-2: hsl(210, 60%, 37%);
$primary-3: hsl(210, 60%, 45%); //primary color
$primary-4: hsl(210, 60%, 52%);
$primary-5: hsl(210, 60%, 60%);
$primary-6: hsl(210, 60%, 67%);
$primary-7: hsl(210, 60%, 74%);
$primary-8: hsl(210, 60%, 81%);
$primary-9: hsl(210, 60%, 88%);
//lighter shades of primary color


//dark shades of primary color
$secondary-0: hsl(255, 60%, 21%);
$secondary-1: hsl(255, 60%, 29%);
$secondary-2: hsl(255, 60%, 37%);
$secondary-3: hsl(255, 60%, 45%); //primary color
$secondary-4: hsl(255, 60%, 52%);
$secondary-5: hsl(255, 60%, 60%);
$secondary-6: hsl(255, 60%, 67%);
$secondary-7: hsl(255, 60%, 74%);
$secondary-8: hsl(255, 60%, 81%);
$secondary-9: hsl(255, 60%, 88%);
//lighter shades of primary color

//dark shades of primary color
$gray-0: hsl(940, 10%, 21%);
$gray-1: hsl(940, 10%, 29%);
$gray-2: hsl(940, 10%, 37%);
$gray-3: hsl(940, 10%, 45%); //primary color
$gray-4: hsl(940, 10%, 52%);
$gray-5: hsl(940, 10%, 60%);
$gray-6: hsl(940, 10%, 67%);
$gray-7: hsl(940, 10%, 74%);
$gray-8: hsl(940, 10%, 81%);
$gray-9: hsl(940, 10%, 88%);
//lighter shades of primary color


//misc colors
$white: #ddd;
$black: #222;
$red-dark: hsl(0, 77%, 38%);
$red-light: hsl(0, 67%, 57%);
$green-dark: hsl(125, 68%, 45%);
$green-light: hsl(125, 70%, 65%);